@media only screen and (max-width: 900px) {
  #ase {
    font-size: 30px !important;
  }
  .father {
    margin: 100px auto !important;
    width: initial !important;
  }

  .fal {
    display: none;
  }
  .errow {
    display: block !important;
  }
  #videocont {
    margin: initial;
    flex-direction: column-reverse;
    padding: 0px 20px !important;
    width: initial;
    #video {
      width: 100%;
    }
    #videodiv {
      padding: 20px 0px;
    }
  }
  .team-contee {
    flex-direction: column;
  }
  .teame .team-contee .team-card {
    margin: 0px 5rem;
    margin-bottom: 20px;
    padding: 20px 0px;
  }
  .top-cont {
    flex-direction: column;
  }
  .carduu {
    width: initial !important;
    padding: 0 !important;
  }
  .full .mainCont {
    flex-direction: column;
    right: -2% !important;
    width: 70%;
    top: -5px !important;
  }
  .full .mainCont .c1 .logCont {
    margin: 10px 0px;
    padding: 0 !important;
  }
  .c2 {
    h1 {
      font-size: 23px;
    }
  }

  #sub3 {
    width: initial !important;
  }
  .whitePap {
    margin-top: 20px !important;
  }
  .part {
    width: initial !important;
    flex-direction: column;
    img {
      padding: 10px 0 !important;
      margin: 10px 0 !important;
    }
  }
  #closeBtnCont {
    right: 32px;
  }
  #hero-comp {
    flex-direction: column;
  }
  #hero-container {
    margin-bottom: 40px;
    width: initial !important;
  }
  #pop {
    display: none;
  }

  .nav-top {
    width: initial !important;
    margin: initial !important;
  }
  .fix {
    width: initial !important;
    margin: initial !important;
  }
  .nav-btn {
    display: none !important;
  }
  #logo-cont {
    margin: initial !important;
  }
  .hero-area {
    width: 100% !important;
  }
  .hero-btn {
    flex-direction: column;
    align-items: flex-start !important;
    a {
      margin-left: 0 !important;
    }
  }
  .tabzz {
    width: initial;
    h1 {
      margin: 10px !important;
    }
  }
  // #hero-img {
  //   width: 275px;
  //   padding: 38px 1px;
  // }
  .container {
    margin-left: 32px;
    margin-right: 20px;
  }
  .hero-area .col {
    max-width: 80%;
  }
  .py-7 {
    padding-top: 9px;
    // padding-bottom: 70px;
  }
  .px-3 {
    padding: 10px 20px;
  }
  .footer-row {
    flex-direction: column;
  }
  .footer-col-1 {
    flex-direction: column;
    width: 100% !important;
  }
  .footer-col-2 {
    flex-direction: column;
  }
  #copyrights {
    font-size: larger !important;
  }
  .get-started h5 {
    font-size: 14px;
  }
  .usage-content .usage-col {
    // width: auto;
    // width: auto;
    width: 100% !important;
    margin: 0px 11px;
  }
  .usage-content {
    overflow: auto;
  }
  .row {
    flex-direction: column-reverse;
  }
  .row .col {
    width: 100%;
  }
  .usage-card {
    height: 91px;
    width: 100px;
    position: relative;
  }

  #root {
    overflow: hidden;
  }
  #company-logo {
    width: 20.81px;
  }
  #company-logoblue {
    width: 20.81px;
  }
  #usage-span1:before {
    top: -5px;
    left: -5px;
  }
  #usage-span1 {
    width: 10px;
    position: absolute;
    top: 12px;
    right: 12px;
  }
  #usage-span2:before {
    top: -5px;
    left: -5px;
  }
  #usage-span2 {
    width: 10px;
    position: absolute;
    top: 12px;
    right: 12px;
  }
  #usage-span3:before {
    top: -5px;
    left: -5px;
  }
  #usage-span3 {
    width: 10px;
    position: absolute;
    top: 12px;
    right: 12px;
  }
  #usage-span4:before {
    top: -5px;
    left: -5px;
  }
  #usage-span4 {
    width: 10px;
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .hamburger:before {
    width: 18.64px;
  }
  .hamburger:after {
    width: 6.58px;
  }
  .hamburger {
    width: 18.64px;
  }
  .blue:before {
    width: 18.64px;
  }
  .blue:after {
    width: 6.58px;
  }
  .blue {
    width: 18.64px;
  }
  #company-logo {
    width: 20.81px;
  }
  #arrow-svg {
    padding-left: 16px;
  }
  .blue-block {
    top: 345px !important;
  }
  .cursor {
    display: none !important;
  }
  .pointer {
    display: none !important;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block !important;
  }
  .about-sidebar {
    width: 100% !important;
  }
  .about-card-title {
    text-align: center;
    // margin-risght: 20px;
    width: 40% !important;
    padding: 10px 10px;
  }
  .about-carde {
    margin: 10px 0px;
  }
  .about-h2 {
    display: none;
  }
  .team-row {
    flex-direction: column;
    align-items: center;
  }
  .team-row .team-col {
    max-width: 100% !important;
    width: 100% !important;
    margin: 20px 0px;
  }
  // #useCase {
  //   margin-top: 35pc;
  // }
  #pc {
    display: none !important;
  }
  #mobileTimeline {
    display: block !important;
    position: relative;
    .hrline {
      border-right: 3px solid white;
      position: absolute;
      top: 88px;
      height: 1017px;

      left: 70px;
      .round {
        width: 20px;
        height: 20px;
        background-color: rgb(0, 110, 255);
        border-radius: 50%;
        position: absolute;
      }
      .r1 {
        top: -1px;
        left: -9px;
      }
      .r2 {
        top: 103px;
        left: -9px;
      }
      .r3 {
        top: 193px;
        left: -9px;
      }
      .r4 {
        top: 280px;
        left: -9px;
      }
      .r5 {
        top: 385px;
        left: -9px;
      }
      .r6 {
        top: 490px;
        left: -9px;
      }
      .r7 {
        top: 595px;
        left: -9px;
      }
      .r8 {
        top: 748px;
        left: -9px;
      }
      .r9 {
        top: 878px;
        left: -9px;
      }
      .r10 {
        top: 999px;
        left: -9px;
      }
      .r7 .r8 .r9 .r10 {
        background-color: initial;
        border: 2px solid white;
      }
    }
    .timeline-cont {
      padding-left: 151px;
      padding-right: 20px;
    }

    // height: 201px !important;
  }
}
// @media only screen and (max-width: 1289px) {
//   .timeline-box {
//     width: 292px !important;
//     max-width: 292px !important;
//   }
// }

@media only screen and (max-width: 550px) {
  .timeline-box {
    max-width: 300px !important;
    width: 100% !important;
    height: 201px;
    background: #ffffff1a;
    margin: 0px 20px;
    padding: 0px 40px !important;
  }
  .bux2 {
    padding-right: 69px !important;
  }
}

@media only screen and (max-width: 1550px) {
  .hero-area {
    width: 1293px;
    margin: 0 auto;
  }
}
