@media only screen and (max-width: 1200px) {
  //   body {
  //     background-color: lightblue;
  //   }
  .containerSub1 .child1 {
    margin-left: 240px;
    margin-right: 120px;
    width: 50%;
    margin-top: 132px;
  }
}
@media only screen and (max-width: 900px) {
  .App {
    overflow: hidden;
  }
  #sub3 #sub3-child2 #sub3-btn-cont {
    right: -11px;
    flex-direction: column;
    margin: 50px 0px !important;
  }
  .containerSub1 {
    flex-direction: column-reverse;
    width: 100%;
    margin: 10px 0;
    .child1 {
      width: 100%;
      margin-top: 0;
      //   margin: 50px 100px;
    }
    .child2 {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 67% !important;
      }
    }
  }
  #containerSub2 {
    margin: 100px 0;
    flex-direction: column-reverse;
    #child1 {
      width: 80%;
      margin: 50px 100px;
    }
    #child2 {
      img {
        width: 68%;
      }
    }
  }
  #sub3 {
    flex-direction: column;
    #sub3-child1 {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50%;
      }
    }
    #sub3-child2 {
      position: relative;
      margin: 50px 100px;

      #sub3-btn-cont {
        right: -11px;
        flex-direction: column;
        margin: 50px 0px;
      }

      #rect {
        top: 20px;
        right: -21px;
      }
    }
  }
  #sub4 {
    flex-direction: column-reverse;
    margin: 100px 0px;
    #sub4-child1 {
      width: 100%;
      margin: 50px 50px;
      p {
        padding: 0px 20px;
        margin-top: 80px;
      }
    }
    #sub4-child2 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      img {
        width: 30%;
      }
    }
  }
  .sub5 {
    width: 80%;
    margin-left: 10%;
  }
  .father {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .containerSub1 {
    .child1 {
      width: 80%;
      margin: 0;
      h1 {
        font-size: 1.7rem;
        line-height: normal;
      }
      p {
        padding-left: 20px;
        font-size: medium;
      }
      #btn-cont {
        flex-direction: column;
        align-items: flex-start;
        div {
          margin: 10px 5px;
        }
      }
    }
  }
  #containerSub2 {
    #child2 {
      display: flex;
      justify-content: center;
      margin-left: 0;
    }
    #child1 {
      margin-left: 28px;
      h1 {
        font-size: 2.1rem;
        line-height: normal;
      }
    }
  }
  #sub3 {
    #sub3-child1 {
      margin-left: 0;
    }
    #sub3-child2 {
      margin: 50px 39px;
      h1 {
        font-size: 1.8rem;
        line-height: 47px;
      }
      p {
        margin: 0;
      }
      #sub3-btn-cont {
        right: -11px;
        flex-direction: column;
        margin: 10px 0px;
        .sub3Btn {
          margin: 10px 10px;
          //   margin-top: 20px;
        }
      }
    }
  }
  #sub4 {
    #sub4-child1 {
      margin: 5px;
      h1 {
        font-size: 2.3rem;
        padding-left: 15px;
      }
    }
  }
  .sub5 {
    width: 90%;
    margin-left: 5%;
    h1 {
      position: initial;
      font-size: 2rem;
      text-align: center;
    }
    p {
      width: 80%;
      margin-top: 0;
    }
    #input-cont {
      width: initial;
      #input {
        width: initial;
      }
    }
    #globe {
      position: absolute;
      top: 262px;
      z-index: -1;
      width: 217%;
    }
  }
  .footer-row {
    flex-direction: column;
  }
  .footer {
    p {
      text-align: center;
    }
    padding: 20px 30px !important;
    .footer-col-1 {
      width: 100%;
    }
    .footer-col-2 {
      flex-direction: column;
    }
  }
  .pink-block {
    left: 3%;
  }
}
