@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1293px;
  margin: 0 auto;
}
.btn-nav {
  border: none;
  padding: 10px 15px;
  margin: 0 10px;
  outline: none;
  border-radius: 5px;
  color: white;
  // font-weight: bold;
  font-size: 15px;
  background: linear-gradient(
    233.46deg,
    #0f1dff -36.8%,
    #8a32e0 45.12%,
    #b035e4 128.76%
  );
  // border: 0.7px solid white;
  // font-family: ;
}
.backGrad {
  background: linear-gradient(
    233.46deg,
    #0f1dff -36.8%,
    #8a32e0 45.12%,
    #b035e4 128.76%
  );
}
.btn-nav:hover {
  box-shadow: 0 0 20px #eee;
  background-position: right center; /* change the direction of the change here */
}
.hamburger {
  // display: block;
  // width: 30px;
  // height: 3px;
  // background-color: #ffffff;
  // // background-color: #268ff1;
  // position: relative;
  color: #ffffff;
}
// .hamburger:before {
//   // margin-bottom: 3px;
//   content: "";
//   width: 30px;
//   height: 3px;
//   background-color: #ffffff;
//   position: absolute;
//   top: -10px;
// }
// .hamburger:after {
//   content: "";
//   width: 15px;
//   height: 3px;
//   background-color: #ffffff;
//   position: absolute;
//   top: 10px;
// }
#navbar:hover {
  cursor: pointer;
}
#menubtn {
  z-index: 9999;
}
#logo-cont {
  z-index: 9999;
}

.blue {
  // display: block;
  // width: 30px;
  // height: 3px;
  // position: relative;
  // background-color: #268ff1;
  color: #268ff1;
}

// .blue:before {
//   // margin-bottom: 3px;
//   content: "";
//   width: 30px;
//   height: 3px;
//   background-color: #268ff1;
//   position: absolute;
//   top: -10px;
// }
// .blue:after {
//   content: "";
//   width: 15px;
//   height: 3px;
//   background-color: #268ff1;
//   position: absolute;
//   top: 10px;
// }

.bluelogo {
  background-color: #268ff1;
}

#navbar-cont {
  position: sticky;
  top: 0px;
  z-index: 9998;
}
